* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    height: 440px;
    margin: 0 auto;
}

.cards {
    padding: 30px;
}

.icon {
    margin: 15px 0 25px 5px;
}

.text {
    margin: 5px;
}

.text h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 35px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.text p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.582);
    font-size: 14px;
    line-height: 1.7em;
}

.left {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.middle {
    background-color: hsl(184, 100%, 22%);
}

.right {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button {
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsla(0, 0%, 100%, 0.808);
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    margin: 60px 0 0 5px;
    cursor: pointer;
}

.left .button {
    color: hsl(31, 77%, 52%);
}

.middle .button {
    color: hsl(184, 100%, 22%);
}

.right .button {
    color: hsl(179, 100%, 13%);
}

.button:hover {
    background: none;
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    color: hsla(0, 0%, 100%, 0.75);
}

@media screen and (max-width:760px) {
    .button {
        margin: 30px 0 0 5px;
    }
}

@media screen and (max-width:620px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        height: 100%;
    }

    .left {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .right {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

    .button {
        margin-top: 25px;
    }
}